<div class="mx-4">
  <app-typography type="h1" text="Header 1 bold" fontWeight="bold" />
  <app-typography type="h2" text="Header 2" fontWeight="bolder" />
  <app-typography type="h3" text="Header 3" />
  <app-typography type="h4" text="Header 4" />
  <app-typography type="h5" text="Header 5" />
  <app-typography type="h6" text="Header 6" />
  <app-typography type="div" text="Normal div" />
  <app-typography type="span" text="Span" />
  <br />
  <app-button label="Click me" (onClick)="handleClick()" [disabled]="isButtonDisabled"></app-button>
</div>