<ng-container [ngSwitch]="type">
    <h1 *ngSwitchCase="'h1'" [ngClass]="[customClass, fontWeightClass]" class="prose-2xl  text-5xl">
        {{ text }}
    </h1>
    <h2 *ngSwitchCase="'h2'" [ngClass]="[customClass, fontWeightClass]" class="prose-xl text-4xl">
        {{ text }}
    </h2>
    <h3 *ngSwitchCase="'h3'" [ngClass]="[customClass, fontWeightClass]" class="prose-lg text-3xl">
        {{ text }}
    </h3>
    <h4 *ngSwitchCase="'h4'" [ngClass]="[customClass, fontWeightClass]" class="prose-base text-2xl">
        {{ text }}
    </h4>
    <h5 *ngSwitchCase="'h5'" [ngClass]="[customClass, fontWeightClass]" class="prose-base text-xl">
        {{ text }}
    </h5>
    <h6 *ngSwitchCase="'h6'" [ngClass]="[customClass, fontWeightClass]" class="prose-base text-lg">
        {{ text }}
    </h6>
    <p *ngSwitchCase="'p'" [ngClass]="[customClass, fontWeightClass]" class="prose-base text-base">
        {{ text }}
    </p>
    <span *ngSwitchCase="'span'" [ngClass]="[customClass, fontWeightClass]" class="prose-base text-base">
        {{ text}}
    </span>
    <div *ngSwitchDefault [ngClass]="[customClass, fontWeightClass]" class="prose-base text-base">
        {{ text }}
    </div>
</ng-container>