<div class="flex flex-col relative gap-3" *ngIf="control">
    <label [for]="inputId">{{ label }}</label>
    <div class="relative flex">
        <span
            class="rounded-l-xl inline-flex  items-center px-3 bg-neutral3-200 text-gray-500 shadow-sm text-sm">
            <img [src]="svgPath" alt="input icon" width="16" height="16"/>
        </span>
        <input 
            [type]="type" 
            [id]="inputId"
            class="rounded-r-xl flex-1 appearance-none border w-40 py-2 px-4 bg-neutral3-200 text-primary1-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
            [name]="label"
            [placeholder]="placeholder"
            [formControl]="control"
        />
    </div>
</div>