<div class="flex flex-row justify-between w-ful items-end gap-4">
    @for (filter of filterTopMenu; track $index){
        <div class="flex flex-col">
        @if (filter.type === "select"){
            <app-dropdown [options]="filter.options" [label]="filter.label" [formControl]="filter.control" selectId="filter.label"></app-dropdown>
        } @else if (filter.type === "input") {
            <app-input-with-icon 
                svgPath="assets/icons/location-icon.svg" 
                type="text"
                inputId="filter.label"
                [label]="filter.label"
                [formControl]="filter.control"
                class="border-none p-0"
            ></app-input-with-icon>
        }
        </div>
    }
</div>