<div class="p-4 h-full">
    <div class="w-full h-fit min-h-[90vh] bg-white rounded-2xl overflow-scroll flex flex-col items-end justify-between px-4">
        <app-table 
            [elements]="elements" 
            (handleMainAction)="handleMainAction($event)" 
            (handleSecondaryAction)="handleSecondaryAction($event)"
            class="w-full"
        ></app-table>
        <div class="max-w-64 mb-4">
            <app-page-handler 
                [totalPages]="totalPages" 
                [currentPage]="currentPage" 
                (decrementPage)="decrementPage()"
                (incrementPage)="incrementPage()" 
                (navigateToPage)="navigateToPage($event)"
            ></app-page-handler>
        </div>
    </div>
</div>
