<div class="details-control bg-white w-full flex-col px-4 py-6">
    <app-typography *ngIf="label" text="{{label}}" type="h6"></app-typography>
    <div class="checkboxes-container flex flex-col ">
        <app-checkbox name="Good with Kids" [formControl]="is_good_with_kids" id="good_with_kids" label="Good with Kids" ngDefaultControl></app-checkbox>
        <app-checkbox name="Good with Cats" [formControl]="is_good_with_cats" id="good_with_cats" label="Good with Cats" ngDefaultControl></app-checkbox>
        <app-checkbox name="Good with Dogs" [formControl]="is_good_with_dogs" id="good_with_dogs" label="Good with Dogs" ngDefaultControl></app-checkbox>
        <app-checkbox name="Spayed" [formControl]="is_spayed" id="spayed" label="Spayed" ngDefaultControl></app-checkbox>
        <app-checkbox name="Vaccinated" [formControl]="is_vaccinated" id="vaccinated" label="Vaccinated" ngDefaultControl></app-checkbox>
        <app-checkbox name="Wormed" [formControl]="is_wormed" id="wormed" label="Wormed" ngDefaultControl></app-checkbox>
        <app-checkbox name="Declawed" [formControl]="is_declawed" id="declawed" label="Declawed" ngDefaultControl></app-checkbox>
        <app-checkbox name="House Trained" [formControl]="is_house_trained" id="house_trained" label="House Trained" ngDefaultControl></app-checkbox>
    </div>
</div>
