.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: bold;
}

.font-bolder {
    font-weight: bolder;
}

.font-lighter {
    font-weight: lighter;
}

.font-initial {
    font-weight: initial;
}

.font-inherit {
    font-weight: inherit;
}